#!/usr/bin/env bash

# Aliases

# fzf
alias f="find . -type f | fzf --preview 'bat --color=always --style=header,grid --line-range :500 {}'"

# inkscape watch
alias inkscape-watch="inkscape-figures watch"

# General
alias kilast='kill -9 %%' # Kill last background process

# Find + manage aliases
alias al='alias | less' # List all aliases
alias as='alias | grep' # Search aliases
alias ar='unalias'      # Remove given alias

# Copy/paste
alias cpwd='pwd | pbcopy'
alias pa='pbpaste'

# Finding files and directories
alias dud='du -d 1 -h'                                  # List sizes of files within directory
alias duds='du -d 1 -h | sort -h'                                  # List sizes of files within directory
alias duf='du -sh *'                                    # List total size of current directory
alias dufs='du -sh * | sort -h'                                    # List total size of current directory
alias ff='find . -type f -name'                         # Find a file by name within current directory
command -v fd >/dev/null 2>&1 || alias fd='find . -type d -name' # Find directory by name

# Displaying files
command -v bat >/dev/null 2>&1 && alias cat='bat'    # Use bat instead of cat
command -v eza >/dev/null 2>&1 && alias ls='eza -la' # Use exa instead of ls

# External Services
alias myip='curl ipv4.icanhazip.com'

# dotfiles
alias dotfiles="cd ${DOTFILES_DIR:-$HOME/dotfiles}"

# orgmode
alias notes="nvim ~/org/refile.org"

# SSH
alias ssconfig="nvim ~/.ssh/config"
alias sskeys="cd ~/.ssh && ls -l"
alias ssgen="ssh-keygen -t rsa -b 4096 -C"
alias sscopy="ssh-copy-id"
alias ssadd="ssh-add"

# Git
alias lg="lazygit"

# Tmux shortcuts
alias tmux='tmux -u'
alias t='tmux'
alias ta='tmux attach-session -t'
alias tn='tmux new-session -s'
alias tl='tmux list-sessions'
alias tk='tmux kill-session -t'

# iCloud Drive
export DRIVE="~/Library/Mobile\ Documents/com~apple~CloudDocs"
alias icloud="cd $DRIVE"
alias stage="cd $DRIVE/stage"
alias phd="cd $DRIVE/phd"
alias admin="cd $DRIVE/admin"
alias me="cd $DRIVE/me"
alias me="cd $DRIVE/fun"

# Perso
copy_pwd() {
    pwd | pbcopy
}

editrc() {
    nvim ~/.zshrc
}

latexsnippets() {
    nvim ~/.config/nvim/my_snippets/tex.snippets
}

nvimconfig() {
    cd ~/.config/nvim
}

tmuxconfig() {
    nvim ~/.config/tmux/.tmux.conf
}
