#!/usr/bin/env bash

# Set XDG Base Directories
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:=$HOME/.config}"
export XDG_DATA_HOME="$HOME/.local/share"

# Set NPM prefix
export NPM_CONFIG_PREFIX="$XDG_DATA_HOME/node"

# Set PATH
export PATH="$HOME/.local/bin:$XDG_DATA_HOME/node/bin:$PATH"

# neovim as default editor
export EDITOR=nvim
export VISUAL=nvim
export MANPAGER='nvim --cmd ":lua vim.g.noplugins=1" +Man!'
export MANWIDTH=999

# Set fuzzy finder
export CM_LAUNCHER="fzf"

# Python REPL for vi editing mode on new versions
export PYTHON_BASIC_REPL=1
export IPYTHONDIR="$XDG_CONFIG_HOME/ipython"
export PYTHONBREAKPOINT=ipdb.set_trace

# GO
export GOPATH="$HOME/go"
export PATH="$GOPATH/bin:$PATH"

# XTerm
export DISPLAY=:0

# Folders
export ICLOUD="$HOME/Library/Mobile Documents/com~apple~CloudDocs"
export ADMIN="$ICLOUD/admin"

# Git signing
export GPG_TTY=$(tty)

# Other
export SCRATCH="/network/scratch/a/ali.ramlaoui/"
export GOOGLE_APPLICATION_CREDENTIALS="$HOME/.config/gcloud/credentials.json"
