#!/usr/bin/env bash

# Set XDG Base Directories
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:=$HOME/.config}"
export XDG_DATA_HOME="$HOME/.local/share"

# 
export NPM_CONFIG_PREFIX="$XDG_DATA_HOME/node"

# Set PATH
export PATH="$HOME/.local/bin:$XDG_DATA_HOME/node/bin:$PATH"

# Set ZDOTDIR to the default zsh config location
[[ -d $HOME/.zsh ]] && export ZDOTDIR="$HOME/.zsh"

# neovim as default editor
export EDITOR=nvim
export VISUAL=nvim
export MANPAGER='nvim --cmd ":lua vim.g.noplugins=1" +Man!'
export MANWIDTH=999

# Set fuzzy finder
export CM_LAUNCHER="fzf"
