#!/usr/bin/env bash

# SSH Functions
function ssh_server() {
    local server_name=$1
    local server_ip=$2
    local server_user=$3
    local server_port=$4
    local server_key=$5

    # Print Usage:
    if [ -z "$server_name" ] || [ -z "$server_ip" ] || [ -z "$server_user" ]; then
        echo "Usage: add_ssh_server_to_config <server_name> <server_ip> <server_user> [server_port] [server_key]"
        return 1
    fi

    if [ -z "$server_port" ]; then
        server_port=22
    fi

    if [ -z "$server_key" ]; then
        server_key=~/.ssh/id_rsa
    fi


    echo "" >> ~/.ssh/config
    echo "Host $server_name" >> ~/.ssh/config
    echo "    HostName $server_ip" >> ~/.ssh/config
    echo "    Port $server_port" >> ~/.ssh/config
    echo "    User $server_user" >> ~/.ssh/config
    echo "    ForwardAgent yes" >> ~/.ssh/config
    echo "    IdentityFile $server_key" >> ~/.ssh/config

    sscopy $server_name
}
    
# Latex functions
function latexnote() {
    if [[ $# -eq 0 ]]; then
        echo "Please provide a directory name as an argument."
        return 1
    fi

    local dest_dir="$1"
    local template_dir="/Users/aliramlaoui/Google Drive/My Drive/Cours 3A/latex/latex_template/"

    # Check if the destination directory exists, create it if it doesn't
    if [[ ! -d "$dest_dir" ]]; then
        mkdir -p "$dest_dir"
    fi

    # Copy the latex_template folder to the destination directory
    cp -r "$template_dir" "$dest_dir"

    echo "latex_template folder copied to $dest_dir successfully."
}

function latexbeamer() {
    if [[ $# -eq 0 ]]; then
        echo "Please provide a directory name as an argument."
        return 1
    fi

    local dest_dir="$1"
    local template_dir="/Users/aliramlaoui/Google Drive/My Drive/Cours 3A/latex/latex_beamer/"

    # Check if the destination directory exists, create it if it doesn't
    if [[ ! -d "$dest_dir" ]]; then
        mkdir -p "$dest_dir"
    fi

    # Copy the latex_template folder to the destination directory
    cp -r "$template_dir" "$dest_dir"

    echo "latex_template folder copied to $dest_dir successfully."
}

function latexcs() {
    if [[ $# -eq 0 ]]; then
        echo "Please provide a directory name as an argument."
        return 1
    fi

    local dest_dir="$1"
    local template_dir="/Users/aliramlaoui/Google Drive/My Drive/Cours 3A/latex/latex_cs/"

    # Check if the destination directory exists, create it if it doesn't
    if [[ ! -d "$dest_dir" ]]; then
        mkdir -p "$dest_dir"
    fi

    # Copy the latex_template folder to the destination directory
    cp -r "$template_dir" "$dest_dir"

    echo "latex_template folder copied to $dest_dir successfully."
}

# Tmux helpers
function tsplit() {
  tmux split-window -v "$@"
}

function tvsplit() {
  tmux split-window -h "$@"
}

function tresize() {
  tmux resize-pane -D "$@"
}

function tresizeh() {
  tmux resize-pane -R "$@"
}

function tresizev() {
  tmux resize-pane -U "$@"
}

function tresizeleft() {
  tmux resize-pane -L "$@"
}

function tresizeup() {
  tmux resize-pane -U "$@"
}

function tresizedown() {
  tmux resize-pane -D "$@"
}

function tresizeup() {
  tmux resize-pane -U "$@"
}

function tresizeleft() {
  tmux resize-pane -L "$@"
}

function tresizeright() {
  tmux resize-pane -R "$@"
}

# Rsync helpers
function rsync () {
    if [ -f "$XDG_CONFIG_HOME/rsync/.rsync.exclude" ]; then
        set -- --exclude-from="$XDG_CONFIG_HOME/rsync/.rsync.exclude" "$@"
    fi

    command rsync "$@"
}
